@import '../themes/theme';

#navbar {
  font-family: $primary-font !important;
  #navcontainer {
    position: sticky;
    background-color: $bg-d;
    border-bottom: '1px solid $text-light';
    display: flex;
    flex-direction: row;
    #parent {
      #brand {
        font-family: $primary-font;
        font-size: 1.6rem;
        color: $white;
      }
      #brand:hover {
        text-decoration: underline;
        text-decoration-color: $secondary;
      }
      ul {
        color: $bg-d;
        li {
          #brand {
            margin-left: 1rem;
          }
        }
      }
    }
    #rightside {
      font-family: $secondary-font;
      #list {
        .active {
          font-size: 1rem;
          font-weight: 500;
          color: $light;
        }
        .notactive {
          font-size: 1rem;
          font-weight: 500;
          color: $bg-d;
        }
        .active:hover {
          color: $text-light;
          text-decoration: underline;
          text-decoration-color: $secondary;
        }
        .notactive:hover {
          color: $light;
          text-decoration: underline;
          text-decoration-color: $secondary;
        }
      }
    }
  }
}

#listItem1, #listItem2, #listItem3, #listItem4 {
  font-family: $primary-font;
  margin: 0 1rem 0 0;
  padding: 0;
}

.link1, .link2, .link3, .link4 {
  color: $bg-d;
  font-family: $primary-font !important;
}

#listHeader {
  color: $bg-d;
}
