@import '../themes/theme';
@import '../mixins/width.scss';

.container {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .box {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 75vh;
    border-radius: 10px;
    border: 1px solid $border-color;
    margin: 1.5rem 0.5rem 0.5rem 0.5rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    align-items: center;
    justify-content: flex-start;
    box-shadow: rgba(50, 50, 93, 0.25) 5px 7px 5px -5px,
    rgba(72, 72, 72, 0.3) 4px 3px 4px -6px;
    .display {
      text-align: center;
      .mathAngles {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 0.8rem 0;
      }
    }
  }
}
