@import './themes/theme';

html,
body {
  margin: 0;
  padding: 0;
  color: $bg-d;
  font-family: $primary-font;
  overflow-x: hidden;
  max-height: 100vh;
}

a { font-family: $tertiary-font; }

* { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  color: $bg-d;
  font-family: $secondary-font;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.katex { 
  font-family: $primary-font; 
}
